body { background-color:#F8F8FF !important; }
.page {height: auto; overflow:hidden;}
#row1, #row2 {width: 280px; float:left; padding-right: 10px;}
#row1 {}
#row2 {}
#row-right {width: auto; overflow: hidden;}