body {  background-image: url('/img/dog.png'); 
background-repeat:no-repeat; 
background-position: right top; 
    background-size: 100px;}
.page {height: auto; overflow:hidden;}
#row1, #row2 {width: 250px; float:left; padding-right: 10px;}
#row1 {}
#row2 {}
#row-right {width: auto; overflow: hidden;}
.scrollme {height: 38.1em; overflow:scroll;}
.scrollme2 {height: 27.7em; overflow:scroll;}
.gr{color: #aaa}